*{
    margin: 0;
    box-sizing: border-box;
}

.mainheader{
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    background-color: #6bb9f9;
    height: 100px;
}

.booleaners{
    height: 50px;
    margin-top: 50px;

}

.content{
    padding: 10px;
}

h1{
    font-size: 40px;
}

h4{
    font-size: 12px;
}

.blue-word {
    color: #2DAEE6;
    font-size: 16px;
}

.grey-word {
    color: #808080;
    font-size: 16px;
}

.date{
    font-size: 14px;
    color: #808080;
}

.main-photos{
    margin-top: 10px;
}

.yellow-text{
    background-color: #fff600;
}
    
.list{
    margin-top: 20px;
    margin-left: 10px;
}
    
/* tabella azzurra */
.th-space{
    width: 30%;
}
  
  .tab{
    margin-top: 20px;
    text-align: left;
}
  
  table{
    border-collapse: collapse;
}
  
  thead{
    color: white;
    background-color: #20A9E5 ;
}
  
  .td-1{
    background-color: #B1E5F2 ;
}
/* fine della tabella azzurra  */